<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>

<div class="elementor-text-editor elementor-clearfix">

     
     <form class="example" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
     <input type="text" name="book" required="" placeholder="Book Title">
     <button type="submit" value="predict"><i class="fa fa-search"></i></button></form>
     
   </div>
<div>
    <figure class="input">
        <div class="input__box">
          <img src="{{ input[4][0] }}" alt="Input book" class="input__img">
        </div>
        <div class="input__content">
          <div class="input__title">
            <h1 class="input__heading">{{ input[1][0]}} 👌</h1>
            
          </div>
          <i><h2>By: {{ input[2][0] }}</h2></i>
          <br>

          <p class="input__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <div class="input__details">
            <p class="input__detail"><span class="emoji">ISBN : </span>{{ input[0][0] }}</p>
       
            <p class="input__detail"><span class="emoji">⭐️ </span>{{ input[3][0]}} / 5</p>
          </div>
        </div>
       
      </figure>
        
</div>

<div class="card-columns py-3">
    {% for j in range(10) %}    
    <div class="card">
      <img src="{{ books2[4][j] }}"  alt="..." class="card__img">
      <div class="card__data">
        <h1 class="card__title">{{ books2[1][j] }}</h1>
        <span class="card__preci">Author - {{ books2[2][j] }} </span>
        <p class="card__description">ISBN - {{ books2[0][j] }} </p>
        <p class="card__description"style="margin-bottom:2rem">Rating - {{ books2[3][j] }}/5 </p>
        
      </div>
    </div>
    {% endfor %}
</div>


<!-- 








<div class="login-box" style="width: 800px;margin-top: 6%;margin-bottom:10%;margin-left: 18%;">
    <h2>Recommended book </h4>

    <table>
    <thead >
        <tr>
            <th>ISBN</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Mean Rating</th>
            <th>Image Url</th>
        </tr>
    </thead>
    <tbody>
    {% for j in range(10) %}    
    <tr>
    {% for i in range(4) %}
    <td>{{ books2[i][j]}}</td>
    {% endfor %}
    <td><img src="{{ books2[4][j] }}"></td>
    </tr>
    {% endfor %}

    </tbody>
    </table>

</div> -->
<!-- <div style="color:white">
    <p>{{ books2 }}</p>
</div> -->
</body>
</html>
